---
layout: default
title: Enzo Cranford
---

<div class="language-switch">
  {% if site.lang == "fr" %}
    {% capture link1 %}{{ site.baseurl_root }}{{ page.url}}{% endcapture %}
    <a href="{{ link1 }}">EN</a>
    <a href="" class="active">FR</a>
  {% elsif site.lang == "en" %}
    {% capture link2 %}{{ site.baseurl_root }}/fr{{ page.url}}{% endcapture %}
    <a href="" class="active">EN</a>
    <a href="{{ link2 }}">FR</a>
  {% endif %}
</div>

<header id="header">
  <h1 class="title large"><span class="hidden-mobile">{% t header.title %} </span>Enzo Cranford</h1>
  <h2 class="subtitle"><span class="hidden-mobile">{% t header.subtitle-hidden %}</span>{% t header.subtitle %}</h2>
  <div class="container flex centered text-small margin-bottom">
    <div class="text-icon">
      <i class="fas fa-envelope"></i>
      <p>enzo@cranford.fr</p>
    </div>
    <div class="text-icon">
      <i class="fas fa-phone"></i>
      <p>+33 7 55 63 48 58</p>
    </div>
    <div class="icon-group">
      <a href="https://github.com/zoford/" target="_blank"><i class="fab fa-github"></i></a>
      <a href="https://www.linkedin.com/in/enzo-cranford-82b592198/" target="_blank"><i class="fab fa-linkedin"></i></a>
    </div>
  </div>
  {% if site.lang == "fr" %}
    <a href="{{ site.url }}/download/EnzoCranford-CV-fr.pdf" class="button large icon">
      {% t header.resume-button-label %}
      <i class="fas fa-file-download"></i>
    </a>
  {% elsif site.lang == "en" %}
    <a href="{{ site.url }}/download/EnzoCranford-CV-en.pdf" class="button large icon">
      {% t header.resume-button-label %}
      <i class="fas fa-file-download"></i>
    </a>
  {% endif %}
</header>

<div class="svg-separator top">
  <svg viewBox="0 0 411 103" fill="none">
    <path d="M121.83 8.91349C67.684 -5.11647 34.0789 -2.51762 0 16.2411V103H411V60.5C405.193 60.5 397.209 64.5 372.912 53.4654C327.551 32.8644 292.225 10.48 235.093 16.2411C199.009 19.8796 161.422 19.1721 121.83 8.91349Z"/>
  </svg>
</div>

<section class="section transition" id="projects">
  <h1 class="title medium">{% t projects.title %}</h1>
  <div class="container">
    <div class="projects">
      <a href="https://swave-5pqx6qme7.now.sh/" target="_blank" class="project" id="swave">
        <div class="content">
          <h2 class="title small">Swave</h2>
          <p class="desc">{% t projects.swave-desc %}</p>
        </div>
      </a>
      <a href="https://zoford.itch.io/fesi" target="_blank" class="project" id="fesi">
        <div class="content">
          <h2 class="title small">FESI</h2>
          <p class="desc">{% t projects.fesi-desc %}</p>
        </div>
      </a>
      <a href="https://gamejolt.com/games/the-positive-user/273322" target="_blank" class="project" id="positive-user">
        <div class="content">
          <h2 class="title small">The Positive User</h2>
          <p class="desc">{% t projects.pu-desc %}</p>
        </div>
      </a>
    </div>
  </div>
</section>

<div class="svg-separator bottom">
  <svg viewBox="0 0 411 103" fill="none">
    <path d="M121.83 8.91349C67.684 -5.11647 34.0789 -2.51762 0 16.2411V103H411V60.5C405.193 60.5 397.209 64.5 372.912 53.4654C327.551 32.8644 292.225 10.48 235.093 16.2411C199.009 19.8796 161.422 19.1721 121.83 8.91349Z"/>
  </svg>
</div>

<section class="section normal" id="experience">
  <h1 class="title medium">{% t experience.title %}</h1>
  <div class="container flex">
    <div class="timeline">
      {% for event in site.translations[site.lang].experience.timelines[0].events %}
        <div class="event">
          <div class="content">
            <p class="date">{{ event["date"] }}</p>
            <h3 class="title small">{{ event["title"] }}</h3>
            <p class="description">{{ event["desc"] }}</p>
          </div>
        </div>
      {% endfor %}
      <span class="line"></span>
    </div>
    <div class="timeline">
      {% for event in site.translations[site.lang].experience.timelines[1].events %}
        <div class="event">
          <div class="content">
            <p class="date">{{ event["date"] }}</p>
            <h3 class="title small">{{ event["title"] }}</h3>
            <p class="description">{{ event["desc"] }}</p>
          </div>
        </div>
      {% endfor %}
      <span class="line"></span>
    </div>
  </div>
</section>

<div class="svg-separator top">
  <svg viewBox="0 0 411 103" fill="none">
    <path d="M121.83 8.91349C67.684 -5.11647 34.0789 -2.51762 0 16.2411V103H411V60.5C405.193 60.5 397.209 64.5 372.912 53.4654C327.551 32.8644 292.225 10.48 235.093 16.2411C199.009 19.8796 161.422 19.1721 121.83 8.91349Z"/>
  </svg>
</div>

<section class="section transition" id="skills">
  <h1 class="title medium">{% t skills.title %}</h1>
  <div class="container centered">
    <div class="skill-group">
      <h1 class="title small">{% t skills.web-dev-title %}</h1>
      <p>HTML \ CSS \ Sass \ JavaScript \ Typescript \ Python \ Node.js \ Deno \ Express.js \ Tone.js \ MongoDB \ Stripe \ Wordpress \ Forestry.io \ Vue \ SolidJS \ Svelte \ SvelteKit \ React \ Webpack \ Vite \ Bulma \ Bootstrap \ Figma \ Micro Frontends Architecture (MFE)</p>
    </div>
    <div class="skill-group">
      <h1 class="title small">{% t skills.programming %}</h1>
      <p>Test Driven Development \ Object Oriented Programming</p>
    </div>
    <div class="skill-group">
      <h1 class="title small">{% t skills.game-dev-title %}</h1>
      <p>Godot \ GDScript \ Unity \ C# \ Blender</p>
    </div>
    <div class="skill-group">
      <h1 class="title small">{% t skills.music-title %}</h1>
      <p>Ableton Live \ Bitwig Studio</p>
    </div>
    <div class="skill-group">
      <h1 class="title small">{% t skills.language-title %}</h1>
      <p>{% t skills.english %} - <strong>{% t skills.language-strength %}</strong> \ {% t skills.french %} - <strong>{% t skills.language-strength %}</strong></p>
    </div>
  </div>
</section>

<div class="svg-separator bottom">
  <svg viewBox="0 0 411 103" fill="none">
    <path d="M121.83 8.91349C67.684 -5.11647 34.0789 -2.51762 0 16.2411V103H411V60.5C405.193 60.5 397.209 64.5 372.912 53.4654C327.551 32.8644 292.225 10.48 235.093 16.2411C199.009 19.8796 161.422 19.1721 121.83 8.91349Z"/>
  </svg>
</div>

<section id="contact">
  <div class="container flex centered">
    <div class="text-icon">
      <i class="fas fa-envelope"></i>
      <p>enzo@cranford.fr</p>
    </div>
    <div class="text-icon">
      <i class="fas fa-phone"></i>
      <p>+33 7 55 63 48 58</p>
    </div>
    <div class="icon-group">
      <a href="https://github.com/zoford/" target="_blank"><i class="fab fa-github"></i></a>
      <a href="https://www.linkedin.com/in/enzo-cranford-82b592198/" target="_blank"><i class="fab fa-linkedin"></i></a>
    </div>
  </div>
</section>