html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
}

.center-page {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
}

.is-light {
  color: #dddddd;
}

h1.is-larger {
  font-family: 'Abril Fatface', cursive;
  font-size: 7rem;
}

#home-page {
  & h1 {
    margin-top: 1rem;
    margin-bottom: 2.5rem;
  }
  & h2 {
    font-size: 3.5rem;
    margin-bottom: 0;
  }
  & nav {
    display: flex;
    justify-content: space-evenly;
  }
  & a {
    font-size: 3rem;
    font-weight: 900;
    text-decoration: none;
    color: #000000;
  }
}

header {
  display: flex;
  justify-content: center;
  align-items: baseline;

  & h1 {
    font-family: 'Abril Fatface', cursive;
    font-size: 5rem;
    margin-left: 2rem;
  }
  & h2 {
    font-size: 2.4rem;
    font-weight: 400;
  }

  @include breakpoint(xs) {
    flex-direction: column;
    align-items: center;
    & h1 { margin: 0 0 2rem 0; }
    & h2 { margin: 2rem 0 0 0; }
  }
}

.blocks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-items: center;
  justify-content: center;
  margin: 0 auto;

  @include breakpoint(md) { width: 80%; }
  @include breakpoint(xl) { width: 55%; }

  & .single-line {
    width: min-content;

    @include breakpoint(sm) { width: 60rem; }

    & .blocks {
      width: 100%;
    }
    & .block {
      margin: 0;
      padding: 0;
    }
  }
  & .block {
    min-width: 30rem;
    background-color: #f4f4f4f4;
    border-radius: 1rem;
    padding: 2rem;
    margin: 1rem;

    & ul { padding-left: 2rem; }
    & h1 {
      font-size: 4.5rem;
      margin: 0 0 1rem 0;
    }
    & h2 {
      font-size: 2.5rem;
      margin: 0 0 1rem 0;
    }
    & li { font-size: 2rem; }
  }
}