$light: #EAEDE4;
$light-accent: #8D8D8D;
$primary: #438F3C;
$dark-accent: #707266;
$dark: #1D1D1D;
$darker: #101010;

$background-color: $dark;

$title-color: $light;
$subtitle-color: $primary;
$text-color: $light-accent;

$button-background-color: $primary;
$button-text-color: $background-color;

html {
  font-size: 62.5%;
}

body {
  margin: 0;

  background-color: $background-color;
}

.title {
  margin-bottom: 0;

  font-family: "Assistant", sans-serif;
  font-weight: 700;

  color: $title-color;
  
  &.large {
    font-size: 6.4rem;

    & + .subtitle {
      font-size: 3.6rem;

      margin: 1rem 0 7rem 0;
    }

    @include breakpoint(xs) {
      font-size: 4.8rem;
      
      & + .subtitle {
        font-size: 2.4rem;

        margin: 0.5rem 0 5rem 0;
      }
    }
  }

  &.medium {
    font-size: 4.8rem;

    @include breakpoint(xs) {
      font-size: 3.6rem;
    }
  }

  &.small {
    font-size: 3.6rem;

    @include breakpoint(xs) {
      font-size: 2.4rem;
    }
  }
}

.subtitle {
  font-family: "Assistant", sans-serif;
  font-weight: 400;

  color: $subtitle-color;
}

.button {
  border-radius: 0.2rem;
  border: none;
  display: flex;
  align-items: center;

  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  background-color: $button-background-color;
  color: $button-text-color;
  transition: 0.2s;
  cursor: pointer;

  &.large {
    padding: 1rem 1rem;

    font-size: 1.4rem;

    @include breakpoint(sm) {
      padding: 1.5rem 2rem;

      font-size: 1.8rem;
    }

    &.icon i {
      border-radius: 0 0.2rem 0.2rem 0;
      margin: -1rem -1rem -1rem 1rem;
      padding: 1rem 1rem;

      font-size: 2rem;
      background-color: rgba(black, 0.2);

      @include breakpoint(sm) {
        margin: -1.5rem -2rem -1.5rem 2rem;
        padding: 1.5rem 2rem;

        font-size: 2.4rem;
      }
    }
  }

  &:hover {
    background-color: darken($button-background-color, 5%);
  }

  &:active {
    background-color: darken($button-background-color, 10%);
  }
}

.projects {
  display: flex;
  flex-direction: row;
  width: calc(100% + 4rem);
  margin-left: -2rem;

  overflow: scroll;

  @include breakpoint(md) {
    overflow: hidden;

    justify-content: center;
  }
}

.project {
  flex-grow: 1;
  border-radius: 0.5rem;
  margin: 0 1rem;
  min-width: 19rem;
  max-width: 29rem;

  &:first-child {
    margin-left: 2rem;
  }

  @include aspect-ratio(38, 49);

  background-color: $primary;
}

.icon-group {
  display: flex;
  align-items: center;
  margin-top: 2rem;

  & i {
    margin-right: 5rem;

    font-size: 2.4rem;
    color: $primary;

    &:last-child {
      margin-right: 0;
    }
  }

  @include breakpoint(md) {
    margin: 0;
  }
}

.text-icon {
  display: flex;
  align-items: center;

  font-family: "Assistant", sans-serif;
  font-size: 2.4rem;

  & i {
    margin-right: 1rem;

    color: $primary;
  }

  & p {
    margin: 1rem 0 1rem 0;

    color: $text-color;
  }

  &:last-child {
    margin-right: 0;
  }

  @include breakpoint(md) {
    margin-right: 5rem;
  }
}

.skill-group {
  display: flex;
  flex-direction: column;

  max-width: 60rem;

  & p {
    margin-top: 0.2rem;

    font-family: "Assistant", sans-serif;
    font-weight: 400;
    font-size: 2.4rem;
    color: $text-color;
  }

  &:first-child .title {
    margin-top: 0;
  }

  @include breakpoint(sm) {
    align-items: center;
    text-align: center;

    & .title {
      margin-top: 1rem;
    }

    & p {
      margin-top: 1rem;
    }
  }

  @include breakpoint(md) {
    max-width: 82rem;
  }
}

.timeline {
  position: relative;
  min-width: 35rem;

  @include breakpoint(md) {
    &:nth-child(2n) {
      margin-left: 10rem;
    }
  }

  & .line {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 1.1rem;
    width: .3rem;

    background-color: $primary;
  }

  &:nth-child(2n) {
    & .event:nth-child(3n) {
      margin-bottom: 0;
    }
  }

  & .event {
    position: relative;
    margin-bottom: 5rem;
    padding-left: 5rem;
    max-width: 30rem;

    @include breakpoint(md) {
      &:nth-child(3n) {
        margin-bottom: 0;
      }

      max-width: 44rem;
    }

    & .content {

      & .title.small {
        margin: 1rem 0;

        font-family: "Roboto", sans-serif;
        font-size: 2.4rem;

        @include breakpoint(md) {
          font-size: 3.6rem;
        }
      }

      & .date, .description {
        margin: 0;

        font-family: "Roboto", sans-serif;
        font-size: 1.4rem;
        font-weight: 400;
        color: $text-color;
        
        @include breakpoint(md) {
          font-size: 2.4rem;
        }
      }

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;

        border-radius: 5rem;
        height: 2.5rem;
        width: 2.5rem;

        background-color: $primary;
        z-index: 1;
      }
    }
  }
}

.hidden-mobile {
  display: none;

  @include breakpoint(lg) {
    display: inline;
  }
}

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;

  @include breakpoint(xs) {
    margin-top: 5rem;
  }
}

.svg-separator {
  position: relative;
  width: 100%;

  z-index: -1;
  
  & svg {
    width: 100%;
    fill: $darker;
  }

  &.top {
    margin-top: 5rem;
    margin-bottom: calc(100vw / -10);
  }

  &.bottom {
    margin-top: calc(100vw / -10);
    margin-bottom: 5rem;

    & svg {
      transform: rotate(180deg);
    }
  }
}

.container {
  padding: 2rem;

  &.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include breakpoint(md) {
      flex-direction: row;
    }

    &.centered {
      justify-content: center;
    }
  }

  &.centered {
    @include breakpoint(sm) {
      margin: 0 auto;
      width: max-content;
    }
  }
}

.section {

  & > .title {
    margin: 0 2rem;
  }
}

.section.transition {
  text-align: center;
  background-color: $darker;

  & .title.medium {
    margin-top: -4rem;
    margin-bottom: 3rem;

    @include breakpoint(md) {
      margin-top: -15rem;
      margin-bottom: 5rem;
    }
  }
}

.section.normal {
  margin-bottom: 10rem;

  & .title.medium {
    margin-bottom: 7rem;

    text-align: center;

    @include breakpoint(sm) {
      margin-bottom: 10rem;
    }
  }
}

#projects {
  @include breakpoint(xs) {
    & .title {
      margin-bottom: 0;
      text-align: left;
    }

    & .projects {
      margin-bottom: 3rem;
    }
  }
}

#contact {
  margin-top: -3rem;
  margin-bottom: 4rem;
}