$light: #EAEDE4;
$light-accent: #8D8D8D;
$primary: #438F3C;
$dark-accent: #707266;
$dark: #1D1D1D;
$darker: #101010;

$background-color: $dark;

$title-color: $light;
$subtitle-color: $primary;

$button-background-color: $primary;
$button-text-color: $background-color;

html {
  font-size: 62.5%;
}

body {
  background-color: $background-color;
}

.title {
  margin-bottom: 0;

  font-family: "Cabin", sans-serif;
  font-weight: 700;

  color: $title-color;
  
  &.large {
    font-size: 6.4rem;

    & + .subtitle {
      font-size: 3.6rem;

      margin: 3rem 0 7rem 0;
    }

    @include breakpoint(xs) {
      font-size: 4.8rem;
      
      & + .subtitle {
        font-size: 2.4rem;

        margin: 1rem 0 5rem 0;
      }
    }
  }
}

.subtitle {
  font-family: "Cabin", sans-serif;
  font-weight: 400;

  color: $subtitle-color;
}

.button {
  border-radius: 0.2rem;
  border: none;
  display: flex;

  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  background-color: $button-background-color;
  color: $button-text-color;
  transition: 0.2s;
  cursor: pointer;

  &.large {
    padding: 1.5rem 2rem;

    font-size: 1.8rem;

    &.icon i {
      border-radius: 0 0.2rem 0.2rem 0;
      margin: -1.5rem -2rem -1.5rem 2rem;
      padding: 1.5rem 2rem;

      font-size: 2.4rem;
      background-color: rgba(black, 0.2);
    }
  }

  &:hover {
    background-color: darken($button-background-color, 5%);
  }

  &:active {
    background-color: darken($button-background-color, 10%);
  }
}

.hidden-mobile {
  display: none;

  @include breakpoint(lg) {
    display: inline;
  }
}

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;

  @include breakpoint(xs) {
    margin-top: 5rem;
  }
}