html { font-size: 62.5%; }

body { margin: 0; background-color: #1D1D1D; }

.title { margin-bottom: 0; font-family: "Assistant", sans-serif; font-weight: 700; color: #EAEDE4; }

.title.large { font-size: 6.4rem; }

.title.large + .subtitle { font-size: 3.6rem; margin: 1rem 0 1rem 0; }

@media (max-width: 748px) { .title.large { font-size: 4.8rem; } .title.large + .subtitle { font-size: 2.4rem; margin: 0.5rem 0 0 0; } }

.title.medium { font-size: 4.8rem; }

@media (max-width: 748px) { .title.medium { font-size: 3.6rem; } }

.title.small { font-size: 3.6rem; }

@media (max-width: 748px) { .title.small { font-size: 2.4rem; } }

.subtitle { font-family: "Assistant", sans-serif; font-weight: 400; color: #438F3C; }

.button { border-radius: 0.2rem; border: none; display: flex; align-items: center; font-family: "Roboto", sans-serif; font-weight: 700; text-transform: uppercase; text-decoration: none; background-color: #438F3C; color: #1D1D1D; transition: 0.2s; cursor: pointer; }

.button.large { padding: 1rem 1rem; font-size: 1.4rem; }

@media (min-width: 749px) { .button.large { padding: 1.5rem 2rem; font-size: 1.8rem; } }

.button.large.icon i { border-radius: 0 0.2rem 0.2rem 0; margin: -1rem -1rem -1rem 1rem; padding: 1rem 1rem; font-size: 2rem; background-color: rgba(0, 0, 0, 0.2); }

@media (min-width: 749px) { .button.large.icon i { margin: -1.5rem -2rem -1.5rem 2rem; padding: 1.5rem 2rem; font-size: 2.4rem; } }

.button:hover { background-color: #3b7d34; }

.button:active { background-color: #326b2d; }

.projects { display: flex; flex-direction: row; width: calc(100% + 4rem); margin-left: -2rem; overflow: scroll; }

@media (min-width: 1141px) { .projects { overflow: hidden; justify-content: center; } }

.project { flex-grow: 1; border-radius: 0.5rem; margin: 0 1rem; min-width: 19rem; max-width: 29rem; position: relative; background-size: cover; }

.project:first-child { margin-left: 2rem; }

.project:before { display: block; content: ""; width: 100%; padding-top: 128.9473684211%; }

.project > .content { position: absolute; top: 0; left: 0; right: 0; bottom: 0; }

.project .content { opacity: 1; padding: 2rem 1rem; transition: opacity 0.2s; background-color: rgba(0, 0, 0, 0.8); }

.project .content .title.small { display: inline; font-size: 2.4rem; }

.project .content .desc { font-family: "Robot", sans-serif; font-size: 1.8rem; color: #8D8D8D; }

@media (min-width: 749px) { .project .content { opacity: 0; padding: 4rem 2rem; background-color: rgba(0, 0, 0, 0.9); } .project .content .title.small { font-size: 3.2rem; } .project .content .desc { font-size: 1.8rem; } }

.project:hover .content { opacity: 1; }

.icon-group { display: flex; align-items: center; margin-top: 1rem; }

.icon-group a { margin-right: 5rem; font-size: 2.4rem; color: #438F3C; }

.icon-group a:last-child { margin-right: 0; }

@media (min-width: 1141px) { .icon-group { margin: 0; } }

.text-icon { display: flex; align-items: center; font-family: "Assistant", sans-serif; font-size: 2.4rem; }

.text-icon i { margin-right: 1rem; color: #438F3C; }

.text-icon p { margin: 1rem 0 0.2rem 0; color: #8D8D8D; }

.text-icon:last-child { margin-right: 0; }

@media (min-width: 1141px) { .text-icon { margin-right: 5rem; } }

.skill-group { display: flex; flex-direction: column; max-width: 60rem; }

.skill-group p { margin-top: 0.2rem; font-family: "Assistant", sans-serif; font-weight: 400; font-size: 2.4rem; color: #8D8D8D; }

.skill-group:first-child .title { margin-top: 0; }

@media (min-width: 749px) { .skill-group { align-items: center; text-align: center; } .skill-group .title { margin-top: 1rem; } .skill-group p { margin-top: 1rem; } }

@media (min-width: 1141px) { .skill-group { max-width: 82rem; } }

.timeline { position: relative; min-width: 35rem; }

@media (min-width: 1141px) { .timeline:nth-child(2n) { margin-left: 10rem; } }

.timeline .line { position: absolute; top: 0; bottom: 0; left: 1.1rem; width: .3rem; background-color: #438F3C; }

.timeline:nth-child(2n) .event:nth-child(3n) { margin-bottom: 0; }

.timeline .event { position: relative; margin-bottom: 5rem; padding-left: 5rem; max-width: 30rem; }

@media (min-width: 1141px) { .timeline .event { max-width: 46rem; } .timeline .event:nth-child(3n) { margin-bottom: 0; } }

.timeline .event .content .title.small { margin: 1rem 0; font-family: "Roboto", sans-serif; font-size: 2.4rem; }

@media (min-width: 1141px) { .timeline .event .content .title.small { font-size: 3.6rem; } }

.timeline .event .content .date, .timeline .event .content .description { margin: 0; font-family: "Roboto", sans-serif; font-size: 1.8rem; font-weight: 400; color: #8D8D8D; }

@media (min-width: 1141px) { .timeline .event .content .date, .timeline .event .content .description { font-size: 2.4rem; } }

.timeline .event .content::after { content: ''; position: absolute; top: 0; left: 0; border-radius: 5rem; height: 2.5rem; width: 2.5rem; background-color: #438F3C; z-index: 1; }

.hidden-mobile { display: none; }

@media (min-width: 1200px) { .hidden-mobile { display: inline; } }

#header { display: flex; flex-direction: column; align-items: center; margin-top: 10rem; }

@media (max-width: 748px) { #header { margin-top: 5rem; } }

.svg-separator { position: relative; width: 100%; z-index: -1; }

.svg-separator svg { width: 100%; fill: #101010; }

.svg-separator.top { margin-top: 5rem; margin-bottom: calc(100vw / -10); }

.svg-separator.bottom { margin-top: calc(100vw / -10); margin-bottom: 5rem; }

.svg-separator.bottom svg { transform: rotate(180deg); }

.container { padding: 2rem; }

.container.flex { display: flex; flex-direction: column; justify-content: center; align-items: center; }

@media (min-width: 1141px) { .container.flex { flex-direction: row; } }

.container.flex.centered { justify-content: center; }

.container.text-small p, .container .text-small i { font-size: 1.8rem !important; }

.container.margin-bottom { margin-bottom: 2rem !important; }

@media (min-width: 749px) { .container.centered { margin: 0 auto; width: max-content; } }

.section > .title { margin: 0 2rem; }

.section.transition { text-align: center; background-color: #101010; }

.section.transition .title.medium { margin-top: -4rem; margin-bottom: 3rem; }

@media (min-width: 1141px) { .section.transition .title.medium { margin-top: -15rem; margin-bottom: 5rem; } }

.section.normal { margin-bottom: 10rem; }

.section.normal .title.medium { margin-bottom: 7rem; text-align: center; }

@media (min-width: 749px) { .section.normal .title.medium { margin-bottom: 10rem; } }

.language-switch { position: absolute; top: 2rem; right: 4rem; }

.language-switch a { font-family: "Assistant", sans-serif; font-size: 2.4rem; font-weight: bold; text-decoration: none; color: #438F3C; }

.language-switch a:last-child { margin-left: 1rem; }

.language-switch a.active { border-bottom: 0.5rem solid #438F3C; }

@media (max-width: 748px) { #projects .title { margin-bottom: 0; text-align: left; } #projects .projects { margin-bottom: 3rem; } }

#contact { margin-top: -3rem; margin-bottom: 4rem; }

#handyroach { background-image: url("/assets/img/handyroach-thumbnail.gif"); }

#swave { background-image: url("/assets/img/swave-thumbnail.gif"); }

#fesi { background-image: url("/assets/img/fesi-thumbnail.gif"); }

#positive-user { background-image: url("/assets/img/positive-user-thumbnail.gif"); }

/*# sourceMappingURL=styles.css.map */